:root {
    --bg: #353535;
    --dark: #404040;
    --fg: #e3e3e3;
}

*, html {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;

    -ms-text-size-adjust:       100%;
    -webkit-text-size-adjust:   100%;

    -webkit-tap-highlight-color: transparent;

    font-family: "Roboto Mono",
                 "DejaVu Sans Mono",
                 ui-monospace,
                 Menlo,
                 Monaco,
                 "Cascadia Mono",
                 "Segoe UI Mono",
                 "Courier New",
                 monospace, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes fade {
    0% { background-color: var(--bg); }
    100% { background-color: var(--dark); }
}

@keyframes fade_particle {
    0% { background-color: var(--dark); }
    100% { background-color: var(--bg); }
}

@keyframes text {
    0% { opacity: 0; }
    75% { opacity: 0; }
    80% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

#text {
    position: absolute;
    background-color: unset;
    color: var(--fg);
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
    animation: text 30s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;

    font-size: 1em;
    text-align: center;
}

#screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: fade 3.5s cubic-bezier(0.8, 0, 0.4, 1) infinite alternate;
}

.particle {
    position: absolute;
    background-color: #474747;
    left: 0vw;
    border-radius: 1000px;
    animation: fade_particle 3.5s cubic-bezier(0.8, 0, 0.4, 1) infinite alternate;
    z-index: 2;
}
